.BarNavigation {
  background-color: $dark-red-secondary;

  &__image {
    padding: 50px 40px 0;
  }

  &__type {
    padding: 0 40px;
    margin-top: 30px;

    * + * {
      margin-top: 0.4rem;
    }

    a {
      font-weight: 400;
      font-size: 1rem;
      color: $white-color;
      display: block;
      text-decoration: none;
      background-color: transparent;
      border: none;
      font-family: $font-quicksand;
      cursor: pointer;
    }
  }
}
