.BarNavigation {
  background-color: $dark-red-secondary;
  padding-bottom: 1.5rem;

  &__image {
    padding: 1.5rem 1.5rem 0;
    @include mq(medium) {
      padding: 50px 40px 0;
    }
  }

  &__type {
    padding: 0 40px;
    margin-top: 30px;

    * + * {
      margin-top: 0.4rem;
    }

    a {
      font-weight: 400;
      font-size: 1rem;
      color: $white-color;
      display: block;
      text-decoration: none;
      background-color: transparent;
      border: none;
      font-family: $font-quicksand;
      cursor: pointer;
      position: relative;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 5px;
      //   height: 20px;
      //   background-color: $red-main;
      //   left: -39px;
      //   top: 0;
      // }
    }
  }
}
