@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number and unit($breakpoint) == "px" {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if(type-of($breakpoint) == number and unit($breakpoint) == "em") {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin button($bgc, $color) {
  background-color: $bgc;
  color: $color;
  width: 117px;
  height: 31px;
  border-radius: 100px;
  padding: 6px 23px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
